body {
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

h1 {
  margin-bottom: 50px;
  font-size: 3em;
}

canvas {
  border:  1px dotted #ccc;
  height: 100%;
  margin-top: 10px !important;
}

.container {
  width: 100%; 
  text-align:center;
}
.intro {
  font-weight: 700;
}

.extra {
  margin-bottom: 40px
}

.note {
  display: block;
  font-size: 1em;
  font-weight: 300;
}

.diff-from-last {
  background-color: #90e0ef;
  font-size: 1.2em;
}

.total-cases {
  font-size: 1.2em;
}

.point-in-paragraph {
  display: inline-block;
}
  
.blue {
  background-color: #90e0ef;
}

.gray {
  background-color: #d3d3d3;
}

.scroll-sign {
  visibility: visible;
}

.point{
  width: 6px;
  height: 6px;
}

.progress { 
  text-align: center;
  top: 60%;
  width: 99%;
  position: fixed;
  margin: 0.5rem auto;
  font-size: 3rem;
  font-family: 'Roboto Slab', serif;
}

.selectButton {
  display: block;
  margin: auto
}

#myBtn {
  display: none;
  position: fixed; 
  bottom: 50%; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none;
  cursor: pointer; 
  padding: 15px; 
  border-radius: 1px; 
  font-size: 1.5em; 
}
  
#myBtn:hover {
  background-color: #555; 
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
}
  
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  font-size: 2px !important ;
  animation: blink 1s infinite;
}

.center { 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  margin: auto; 
} 

.scroll {
  font-style: normal;
  margin-bottom: 0;
  padding-bottom: 0; 
  margin-top: 40px;
  display: block;
  font-size: 10px;
  font-style: italic;
  color: grey;
  padding-bottom: 0px;
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}